@page
@model Writed.Pages.Shared.NotFoundModel
@{
}

<div class="text-center">
    <h1 class="display-4" style="font-size: 7em;">404</h1>
    <h1 class="display-4" style="font-size: 7em;">Not Found</h1>
</div>